* {
 margin: 0;
 padding: 0;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 font-weight: bold;
 font-family: 'Indie Flower', cursive;
}
body {
 color: white;
 background-image: url("../foto/background.jpg");
 background-repeat: no-repeat;
 background-size: 100% 100%;
 background-attachment: fixed;
 text-align: center;
 max-width: 1500px;
 margin: 0 auto;
 height: 100%;
}
#tutylka {
 width: 150px;
 height: 200px;
 float: left;
 border: 3px solid white;
 margin-top: 40px;
 /*border-radius: 10px;*/
 /*filter: grayscale(50%);*/
 /*-webkit-filter: grayscale(75%);*/
 /*-moz-filter: grayscale(75%);*/
 /*-ms-filter: grayscale(75%);*/
}
h1 {
 margin: 0 auto;
 text-align: center;
 font-family: Italic;
 font-size: 4em;
 clear: both;
 
}
h2 {
 font-family: Italic;
 font-size: 2em;
}
ul {
 list-style-type: none;
 color: white;
 padding-top: 40px;
 padding-left: 20px;
 text-align: left;
 float: left;
}
ul li {
 font-size: large;
 padding-right: 30px;
 text-shadow: 3px 3px 6px black, 0 0 1em #4b59a8;
 display: inline-block;
}
ul li .jakir {
 text-decoration: none;
 color: grey;
 -webkit-transition: .3s;
 -o-transition: .3s;
 transition: .3s;
}
.jakir:hover {
 color: lightblue;
 cursor: pointer;
}
td {
 border-top: 1px solid #585151;
 padding-top: 10px;
 padding-bottom: 2px;
 width: 50%;
}
.table {
 width: 60%;
 margin: 40px auto 0;
 border-collapse: collapse;
 box-shadow: 6px -6px 30px;
 border-bottom: 3px solid black;
}
.sir {
 background-color: lightgrey;
 border-radius: 15px;
}
.black {
 color: black;
}
.fon {
 background-color: #121212;
}
article {
 margin: 80px 10% 0; 
 height: 400px;
}
footer {
 clear: both;
 text-align: center;
 margin-top: 40px;
}
ol {
 list-style-type: none;
 float: right;
}
ol li {
 padding-top: 30px;
 padding-right: 20px;
 display: inline-block;
}
ol li a {
 padding-left: 20px;
 text-decoration: none;
}
div {
float: left;
}
span {
 color: black;
}
form {
 margin-top: 50px;
}
header {
 height: 70px;
 /*background-image: url("../foto/nav_back.jpg");*/
}
.sprite {
 width: 30px;
 height: 30px;
}
footer {
 position: relative;
 height: 150px;
}
audio {
 position: absolute;
 bottom: 10px;
 right: 10px;
}
