* {
 margin: 0;
 padding: 0;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bold;
}
body {
 background-image: url("../foto/night.jpg");
 background-repeat: no-repeat;
 background-size: 100%;
 background-attachment: fixed;
 margin: 100px auto;
 width: 900px;
}
header {
 height: 150px;
 margin: 30px;
}
#tutylka {
 width: 150px;
 height: 150px;
 float: left;
 margin-left: 50px;
}
h1 {
 position: relative;
 top: 80px;
 left: 120px;
 font-size: 50px;
 
}
audio {
 clear: both;
 position: fixed;
 bottom: 0;
 left: 0;
}
aside {
 float: left;
 text-align: right;
 margin-left: 50px;
 margin-top: 30px;
}
ul li .jakir {
 text-decoration: none;
}
.jakir:hover {
 color: blue;
 transition: .0.8s;
 cursor: pointer;
 padding: 10px;
 font-weight: bold;
 text-shadow: 5px 5px 5px;
}
ul {
 width: 180px;
 list-style-type: none;
 text-align: right;
}
li {
 padding: 3px;
}
td {
 border-top: 1px solid #585151;
 padding-top: 10px;
 padding-bottom: 2px;
 width: 200px;
}
.table {
 width: 60%;
 margin-left: 200px;
 margin: 0 auto;
 border-collapse: collapse;
 box-shadow: 6px -6px 30px;
 border-top: 3px solid black;
 border-bottom: 3px solid black;
 border-left: 3px solid black;
}
.sir {
 background-color: lightgrey;
 border-radius: 15px;
}
.black {
 color: black;
}
nav {
 margin-top: 30px;
}
input, textarea {
 border-radius: 10px;
 background-color: lightgrey;
}